@model IEnumerable<Student>

@{
    ViewData["Title"] = "Student List";
    // Layout = "~/Views/Shared/MyLayout.cshtml";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";

}


@section Scripts{
    <script>
        var table =document.querySelector("table");
        table.onclick = function onTableClick(){
            table.style = "background-color: yellow;"
        }
    </script>
}

<a asp-action="Create" asp-controller="Student" asp-route-area="Admin" class="btn btn-primary"> Create Student</a>

<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Mã</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>

            <th>Ngành</th>
            <th>Giới tính</th>
            <th>Hệ ĐT</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Anh</th>
            <th>Score</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.DateOfBorth</td>
                @{
                    string str = "";
                    switch (s.Branch)
                    {
                        case Branch.IT:
                            str = "CNTT";
                            break;
                        case Branch.BE:
                            str = "Kinh tế";
                            break;
                        case Branch.CE:
                            str = "Công trình";
                            break;
                        case Branch.EE:
                            str = "Điện - Điện tử";
                            break;
                    }
                }
                <td>@str</td>
                <td>@(s.Gender == Gender.Male ? "Nam" : "Nữ")</td>

                <td>@(s.IsRegular == true ? "Chính quy" : "Phi chính quy")</td>
                <td>@s.Address</td>
                <td>@s.Email</td>
                <td>
                    @if (!string.IsNullOrEmpty(s.Avatar))
                    {
                        <img src="~/images/@s.Avatar" alt="Avatar" width="60" height="60" style="object-fit:cover;border-radius:50%;" />
                    }
                    else
                    {
                        <img src="~/images/default.png" alt="No Avatar" width="60" height="60" style="object-fit:cover;border-radius:50%;" />
                    }
                </td>
                <td>@s.Score</td>

            </tr>
        }
    </tbody>



</table>